
.vs/ProjectSettings.json

.vs/PruebaTecnica/FileContentIndex/79664754-b0ac-4c38-a600-3240a4b808db.vsidx

.vs/PruebaTecnica/v17/.wsuo

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

PruebaTecnica/packages/EntityFramework.6.2.0/Content/net40/App.config.transform

PruebaTecnica/packages/EntityFramework.6.2.0/Content/net40/Web.config.transform

PruebaTecnica/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml

PruebaTecnica/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml

PruebaTecnica/packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt

PruebaTecnica/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
